rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{id} {
      allow create:
        if request.auth.uid == id
        || collection == "Alias"
      allow update:
        if request.auth.uid == id
      allow get, delete:
        if resource == null
        || request.auth.uid == id
        || collection == "Alias"
      allow list:
        if collection == "something"
    }
  }
}
